@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
}

.magic-bg {
  background: radial-gradient(circle at top center, #2d1b4e 0%, #000000 80%);
  min-height: 100vh;
}
