body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* Layout base per tutti */
.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 300px;
  border-right: 1px solid #ddd;
}

.chat-box {
  flex-grow: 1;
}

/* Regole speciali per il Mobile */
@media (max-width: 768px) {
  .sidebar.hidden-mobile {
    display: none;
  }
  .chat-box.hidden-mobile {
    display: none;
  }
  .sidebar, .chat-box {
    width: 100% !important;
  }
}
